//* Path */
$root: '/* @echo PATH */';

$cor-bordas: #D1D1D1;



//* PALETAS */

$paleta-01: #0199FE;
$paleta-02: #2D4F6A;
$paleta-03: #8ED3FD;


$paleta-04: #27BACD;
$paleta-05: #054340;
$paleta-06: #0EBAB1;


$paleta-07: #A5B2BB;
$paleta-08: #7F92A3;


$paleta-09: #E55C66;
$paleta-10: #EE2274;


$paleta-11: #86679C;


$paleta-12: #85BE03;
$paleta-13: #A0CB00;
$paleta-14: #CEE000;
$paleta-15: #F9DD10;

$paleta-16: #2D4F6A;
$paleta-17: #8ED3FD;

$paleta-18: #FFFDFE;
$paleta-19: #E2E2E2;



$paleta-wht: #fff;
$paleta-blk: #000;


/*font sizes*/
$fnt-xsm: 12px;
$fnt-sm:  13px;
$fnt-md:  15px;
$fnt-lg:  16px;
$fnt-xlg: 20px;
